@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

#root, html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.app{
    background: url('./images/image.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background: rgba(255, 255, 255, 0.87);
    display: flex;
    width: 40%;
    height: 20%;
    padding: 2%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    box-shadow: 0px 15px 15px 0px;
}

.heading{
    display: flex;
    align-items: center;
    text-align: center;
    height: 580px;
    font-family: 'Spartan' , sans-serif;
    font-size: 100%;
    font-weight: 600;
}
button{
  outline:0; 
  font-size: 15px;
  font-weight:600;
  background:#fff;
  border:none;
  border-radius: 5px;
  padding: 10px 15px;
  transition:all .3s ease-out; 
  box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
  1px 1px 0 0#818181a1,
  2px 2px 0 0 #818181a1,
  3px 3px 0 0 #818181a1,
  4px 4px 0 0 #818181a1,
  5px 5px 0 0#818181a1,
  6px 6px 0 0 #818181a1,
  7px 7px 0 0 #818181a1
}
button:hover{
  color:#444;
}
button:active{
  color:#222;
  box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #424242,
    2px 2px 0 0 #424242,
    3px 3px 0 0 #424242,
    4px 4px 0 0 #424242,
    5px 5px 0 0 #424242;
}
footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    top:95%;
    justify-content: center;
    position: fixed;
    
}
 footer span {
   
        content: "\2764";
        font-family: Segoe UI Emoji;
       
    };
